[Desktop Entry]
Name=MCLX Multi-Platform Version
Type=Application
Terminal=false
Exec=/usr/share/mclPlus/start.sh
Icon=/usr/share/icons/mclx.png
Categories=Game;ActionGame;AdventureGame;Simulation;
Keywords=game;minecraft;launcher;mc;akchiji888;MCLX;
Comment=Next generation .NET cross-platform Minecraft launcher
Comment[zh_CN]=下一代.NET跨平台 Minecraft 启动器
